html {
	margin: 0 auto;
	height: 100%;
}

body {
	background: linear-gradient(120deg, #2effbc, #4bbb1d);
}

.container{
	position: relative;
	height: 550px;
	text-align: left;
}

.containerPokoje {
	position: relative;
	background: #fafffb;
	opacity: 0.8;
	width: 26%;
	height: 90%;
	top: 2.5%;
	left: 0%;
	border-radius: 10px 0 0 10px;
	box-shadow: -6px 7px 20px #999999;
}
/* pokoje w czacie */
.ListaPokoje {
	position: absolute;
	list-style-type: none;
	width: 100%;
	left: -0;
	line-height: 0.7em;
	list-style: none;
    padding-left: 0;
	margin-top: 80px;
	word-wrap: break-word;
	/* overflow-y: scroll; */
}
.ListaPokoje .title {
	text-transform: uppercase;
	font-size: 0.7em;
    margin-left: 14px;
    letter-spacing: 1px;
    color: #888888;
}
.ListaPokoje .time {
    font-size: 0.7em;
    color: #888888;
    position: absolute;
    right: 10px;
    margin-top: 2px;
}
.ListaPokoje .preview {
    color: #51800a;
    margin-left: 14px;
    font-size: 0.8em;
}
.pokoj {
	position: relative;
	background: #fafffb;
	left: -5px;
    padding: 14px 0 14px 14px;
    border-bottom: 2px solid #79c778;
    cursor: pointer;
    border-radius: 5px;
	transition: .3s ease-in-out;
}
.pokoj:hover {
	left: -20px;
}
.focus {
	background: #fafffb;
	left: -10px;
}
.focus span {
	transition: .3s ease-in-out;
}
.focus:hover {
	left: -10px;
}
.focus:hover span{
	opacity: 0;
}
.focus:after {
	content: "Pokój już aktywny";
	opacity: 0;
	text-transform: uppercase;
	font-size: 0.8em;
    letter-spacing: 1px;
    color: #888888;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: .3s ease-in-out;
}
.focus:hover:after{
	opacity: 1;
	transition: .3s ease-in-out;
}
.profil {
	position: relative;
	width: 70%;
	word-wrap: break-word;
	top: 2%;
}
.profil .avatar {
	top: 25px;
}
.dostepnePokoje{
	position: relative;
	top: 20px;
	width: 200px;
	float:right;
	text-transform: uppercase;
	color: #79C7C5;
	font-size: 1em;
	letter-spacing: 2px;
	font-weight: 500;
	background-color:black;
	padding: 10px;
	border-radius: 10px 0 0 10px;
}
.email {
	color: #51800a;
	font-size: .7em;
}

.chatbox {
	position: absolute; 
	left: 26.5%;
	height: 100%;
	width: 60%;
	border-radius: 12px;
	box-shadow: 3px 3px 20px #999999;
	z-index: 1;
}

.GornyPasek {
	position: relative;
	width: 100%;
	height: 50px;
	background: #fafffb;
	border-radius: 12px 12px 0 0;
}

.GornyPasek .avatar {
	position:relative;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	position: absolute;
	top: 6px;
	left: 15px;
}
.avatar img {
	width: 35px;
	height: 35px;
	object-fit: cover;
}

.name {
	position: relative;
	top: 18px;
	text-transform: uppercase;
	color: black;
	font-size: .8em;
	letter-spacing: 2px;
	font-weight: 500;
	left: 60px;
}
.middle {
	position: relative;
	background: #fafffb;
	width: 100%;
	opacity: 0.85;
	height: 80%;
	overflow-y: scroll;
	overflow-x: hidden;
}
.bubble {
	position: relative;
	display: inline-block;
	margin-bottom: 5px;
	color: #fafffb;
	font-size: 1em;
	padding: 10px 10px 10px 12px;
	border-radius: 20px;
}

.incoming {
	position: relative;
	width: 80%;
	padding: 5px;
	word-wrap: break-word;
	float:left;
	padding-top: 15px;
}
.incoming .name {
	position: absolute;
	top: 0;
	left: 1.5em;
}
.incoming .bubble {
	background: black;
}

.typing {
	position: relative;
	padding: 5px;
	width: 100%;
	float:left;
}
.typing .bubble {
	background: black;
    padding: 8px 13px 9px 13px;
}

.outgoing {
	position: relative;
	width: 70%;
	padding: 5px;
	word-wrap: break-word;
	right: 0;
	height: 100%;
	float: right;
}
.outgoing .test {
	min-width:100%;
	float:right;
}
.outgoing .bubble {
	background: grey;
	float:right;
}
.bottom-bar {
	position: relative;
	width: 100%;
	height: 60px;
	bottom: 0;
	background: #fafffb;
	border-radius: 0 0 10px 10px;
}

.kulka {
	margin-left: 2px;
	width: 7px;
	height: 7px;
	display: inline-block;
	background: white;
	border-radius: 50%;
	animation: bounce 1s linear infinite;
}
.pierwsza {
  animation-delay: 0.2s;
}
.druga {
  animation-delay: 0.4s;
}
.trzecia {
  animation-delay: 0.6s;
}
@keyframes bounce {
  30% { transform: translateY(-5px); opacity: 1;}
  60% { transform: translateY(0px);  opacity: 0.2;}
  80% { transform: translateY(2px);  opacity: 0.2;}
  100% { transform: translateY(0px); opacity: 1;}
}
.left {
  left: 0px;
}

input {
	padding: 7px;
	width: 70%;
	left: 4%;
	position: relative;
	border: 0;
	top: 12px;
	background: #fafffb;
	color: black;
	font-size: 1em;
	word-wrap: break-word;
}

input::placeholder {
	color: green;
}

input:focus {
	color: green;
	outline: 0;
}
.cointainerOsoby {
	position: absolute;
	background: #fafffb;
	opacity: 0.8;
	width: 15%;
	height: 90%;
	top: 2.5%;
	left: 86%;
	border-radius: 0 10px 10px 0;
	box-shadow: -6px 7px 20px #999999;
	padding-left: 10px;
}
.cointainerOsoby .profil .avatar{
	position:absolute;
	width:70%;
	top: 18px;
}
.cointainerOsoby .profil .name2{
	position:absolute;
	width:70%;
	left: 50px;
	top: 18px;
	text-transform: uppercase;
	color: black;
	font-size: .8em;
	letter-spacing: 2px;
	font-weight: 500;
}
.cointainerOsoby .dostepniUzytkownicy {
	position: relative;
	margin-top: 60px;
	text-transform: uppercase;
	color: #79C7C5;
	font-size: 1em;
	letter-spacing: 2px;
	font-weight: 500;
	background-color:black;
	padding: 10px;
	border-radius: 10px 0 0 10px;
}
.cointainerOsoby .ListaUzytkownikow {
	position: absolute;
	list-style-type: none;
	width: 100%;
	left: -0;
	line-height: 1em;
	list-style: none;
    padding-left: 0;
	max-height: 280px;
	overflow-y: scroll;
}
.cointainerOsoby .ListaUzytkownikow .user {
	position: relative;
	text-transform: uppercase;
	color: black;
	font-size: 0.7em;
	letter-spacing: 1px;
	font-weight: 500;
	word-break: break-all;
	padding-left: 10px;
}
.cointainerOsoby .ListaUzytkownikow .user .title{
	position: absolute;
	top: 10px;
	left: 50px;
	cursor: context-menu;
}

footer p {
	text-align: center;
	color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
  background: transparent;
}
 
::-webkit-scrollbar-thumb {
  background: lightgrey;
  border-radius: 5px;
}